/*Réglages généraux */
@font-face {
    font-family: "bratsy";
    src: url('./bratsy.ttf');
}

@font-face {
    font-family: 'custom';
    src: url('./caviar.ttf');
}

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    --color-pal-1: #42526F ;
    --color-pal-2: #6E879E;
    --color-pal-3: #9EB6D0;
    /*--color-pal-4: #F1F1F1;*/
    --color-light-default : #D9E8F7;
    --color-dark-default : #2A2D34;

}

body {
    font-family: 'custom', sans-serif;
    background-color: var(--color-light-default);
    color : var(--color-dark-default);
}

/*header*/



#header-haut {
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    color : var(--color-pal-1);
    margin : 0px;
    padding :15px;
    width : 100vw;
    height: 23vh;
}

#header-logo {
    width : 20vw;
    display : flex;
    flex-direction:column ;
    justify-content : center ;
    align-items: center ;
}

#header-titre {
    width : 55vw;
    display : flex;
    flex-direction:column ;
    justify-content : center ;
    align-items: center ;
}

#header-login {
    width : 25vw;
    border: var(--color-pal-1)solid 3px;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--color-pal-3);
    color : var(--color-pal-1);
} 


h1 {
    color: var(--color-pal-2);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px var(--color-dark-default);
}

h3 {
    color: var(--color-pal-2);
    font-size: 2rem;
    text-shadow: 1px 1px 2px var(--color-dark-default);
    
}

#logo {    
    height : 16vh;
    display : block;
}

/* Barre sous le header avec image de fond*/
#header-bas {
    width : 100vw;
    height:10vh;    
    background-image:url('../assets/books.png');
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
    background-position-y:center;    
    border-bottom: var(--color-pal-1) solid 3px;

}
/*mise en forme de formulaire*/

input, label {
    display : block;
    margin-top: 3px;
    width : 100%;
    
}

/*partie centrale */
#central {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
/*menu*/

nav {
    width : 20vw;
    height: 60vh;
    background-color: var(--color-pal-2);
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bouton {
    text-decoration: none;
    color: var(--color-pal-1);
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
    display : block;
    padding: 15px;
    background-color: var(--color-pal-3);
    width : 80%;
    border-radius: 20px;
    box-shadow: var(--color-dark-default) 2px 2px 10px 0;
    
    transition: box-shadow 300ms, color 1500ms, background-color 300ms;

}

.bouton:hover {
    box-shadow:none ;
    color: var(--color-pal-3);
    background-color: var(--color-pal-1);
    
}

/*le choix de site */


/*la sélection de livre */